body {
    display:grid;
    grid-template-areas: "header"
    "about"
    "skills"
    "experience"
    "projects"
    "contact";
    grid-template-rows: 5em repeat(5, 100vh);
    position:absolute;
    width:100%;
    left:0;
    right:0;
    height:100%;
    margin:0;
}

header{
    grid-area: header;
    background-color: rgb(41, 41, 41);
}

header h1, .title h1{
    color: white;
    text-align: center;
}

#about{
    grid-area: about;
    display: grid;
    grid-template-areas: "title"
    "content";
    grid-template-columns: 30em 1fr;
}

#skills{
    grid-area: skills;
    display:flex;
    align-items: center;
    flex-direction: column;
}

#experience{
    grid-area: experience;
}

#projects{
    grid-area: projects;
}

#contact{
    grid-area: contact;
}

.title{
    background-color: green;
    grid-area: title;
    height:100vh;
}