:root{
    --thegreen: rgb(0, 107, 73);
}

body {
    display:grid;
    grid-template-areas: "header"
    "about"
    "skills"
    "experience"
    "projects"
    "contact";
    grid-template-rows: 10vh 90vh repeat(4, 100vh);
    position:absolute;
    width:100%;
    left:0;
    right:0;
    height:100%;
    margin:0;
}

header{
    grid-area: header;
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1, .title h1, #experience h1{
    color: white;
    text-align: center;
}

h1{
    font-size:3em;
}

.title{
    display:flex;
    align-items: center;
    justify-content: center;
}
.content{
    display:flex;
    align-items: center;
    justify-content: center;
}

.content p{
    font-size:2em;
    text-align: center;
    width:25em;
}

#about{
    grid-area: about;
    display: grid;
    grid-template-areas: "title"
    "content";
    grid-template-columns: 30em 1fr;
}

#skills{
    grid-area: skills;
    display:flex;
    align-items: center;
    flex-direction: column;
}

#experience{
    grid-area: experience;
    background-color: var(--thegreen);
}

#projects{
    grid-area: projects;
}

#projects h1{
    text-align: center;
}

#contact{
    grid-area: contact;
    background-color: var(--thegreen);
}

#contact h1{
    text-align: center;
    color:white;
}

.title{
    background-color: var(--thegreen);
    grid-area: title;
    height:90vh;
}