body{
    margin:0;
    padding:0;
    display:grid;
    grid-template-areas: "header"
    "about";
}

header{
    background: rgb(255, 0, 255);
    grid-area: header;
    width:100%;
    height: 10em;
    position:relative;
}

header > h1{
    text-align: center;
    font-size: 3em;
}

#cards{
    grid-area: about;
    background-color: rgba(0, 0, 0, 0.916);
    display:grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: ". . ."
    ". aboutMeMain ."
    ". . .";
    height:50em;
    width:100%;
    position:relative;
}

#aboutMe{
    background-image:url("../img/aboutmebackground.png");
    background-size: 100%;
    grid-area: aboutMeMain;
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#aboutMe > div{
    background-color: white;
    height: 80%;
    width: 90%;
}